 <!-- List of commits -->
 <div class="my-5">
   <div *ngFor="let commit of commits">
     <div class="card">
       <div class="card-body">
         <h6 class="card-title font-weight-bold">New create customer functionality added</h6>
         <p class="card-text">
           <img class="img-circle"
             src="https://www.tutorialspoint.com/assets/profiles/13518/profile/60_31598-1537784993.jpg" alt="1" />
           <span class="pl-2 font-weight-bold">ZetaGH</span>
           committed on
           <span>Nov 30, 2018</span>
         </p>
       </div>
     </div>
   </div>
 </div>
