<!-- Commit item -->
<div class="card my-3">
  <div class="card-body">
    <h6 class="card-title font-weight-bold">{{commitItem.message}}</h6>
    <p class="card-text">
      <img class="img-circle" src="https://www.tutorialspoint.com/assets/profiles/13518/profile/60_31598-1537784993.jpg"
        alt="1" />
      <span class="pl-2 font-weight-bold">{{commitItem.committer.name}}</span>
      committed on
      <span>{{commitItem.committer.date | date : "mediumDate"}}</span>
    </p>
  </div>
</div>
